<!--
 * @Date: 2020-07-24 11:15:32
 * @LastEditors: kjs
 * @LastEditTime: 2020-08-14 11:21:23
 * @FilePath: \server\views\index.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- 引入vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <!-- 引入axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/qs/6.5.2/qs.min.js"></script>
    <script src="/javascripts/http.js"></script>
</head>

<body>
    <div id="app">
        <input type="file" @change="uploadImg">
        <img :src="imgUrl" alt="">
    </div>

    <script>
        const app = new Vue({
            el: '#app',//要挂载的dom节点

            data: {//要渲染到模板的数据
                imgUrl: ''
            },

            created() {//实例创建完的生命周期，可以发起网络请求,发送ajax请求然后赋值给data里对应的数据，视图就会自动更新
                this.initData()
            },

            mounted() {//实例挂载到页面上的生命周期，可以操作dom节点

            },

            methods: {//定义函数方法
                initData() {

                },

                uploadImg(e) {
                    const file = e.target.files[0]
                    const reader = new FileReader()
                    reader.readAsDataURL(file)
                    reader.onload = async (e) => {
                        const res = await $http.get("/api/test", { url: e.target.result })
                        this.imgUrl = res.data.url
                    }
                }


            }
        })
    </script>

    <script src="/javascripts/rem.js"></script>
</body>

</html>